body {
  margin: 0;
}

.dot-container__img {
  width: 12px;
  height: 12px;
}

*:focus {
    outline: none;
}

@media (max-width: 767px) {
  .dot-container__img {
    display: none;
  }
}

.vertical-center {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame__img {
  margin-top: 12px;
  width: 20px;
  height: 15px;
}

@media (max-width: 575px) {
  .frame__img {
    margin-top: 8px;
    width: auto;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .hidden--mobile {
    display: none;
  }
}

@media (min-width: 1025px) {
  .hidden--desktop {
    display: none;
  }
}

.top-bar {
  display: grid;
  grid-auto-columns: 0.5fr 16fr 1fr 16fr 0.5fr;
  grid-template-areas: 'frame-1 logo dot color-palette frame-2';
  /*margin-top:  40px;*/
}

.top-bar--impressum {
  margin-top:  31px;
}

@media (max-width: 575px) {
  .top-bar {
    padding-top: 17px;
  }
}

.top-bar__frame-1 {
  grid-area: frame-1;
}

.top-bar__logo {
  grid-area: logo;
  cursor: pointer;
}

.top-bar__logo a {
  display: inline-block;
}

.top-bar__logo-img {
  margin-top: 8px;
  margin-left: 14px;
  width: auto;
  height: 21px;
}

@media (max-width: 575px) {
  .top-bar__logo-img {
    margin-top: 8px;
    margin-left: 5px;
    height: 15px;
  }
}

.top-bar__dot {
  grid-area: dot;
  text-align: center;
}

.top-bar__palette {
  grid-area: color-palette;
  padding-right: 14px;
  text-align: right;
}

.top-bar__palette-img {
  margin-top: 15px;
  height: 12px;
}

@media (max-width: 575px) {
  .top-bar__palette-img {
    display: none;
  }
}

.top-bar__frame-2 {
  grid-area: frame-2;
}

.main-titles {
  display: grid;
  grid-template-areas: 'append-text' 'title' 'subtitle';
  text-align: center;
  padding: 0 44px;
}

@media (max-width: 1024px) {
  .main-titles {
    max-width: 640px;
  }
}

.main-titles__text {
  grid-area: append-text;
  height: 32px;
  margin: 0;
  padding-top: 37px;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  font-family: Arial, sans-serif;
}

.main-titles__text a {
  text-decoration:  none;
}

@media (max-width: 575px) {
  .main-titles__text {
    padding-top: 24px;
    font-size: 22px;
  }
}

.main-titles__title {
  grid-area: title;
  margin: 0;
  padding-top: 67px;
  font-weight: 300;
  font-size: 18px;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
}

@media (max-width: 575px) {
  .main-titles__title {
    padding-top: 56px;
    font-size: 14px;
    line-height: 24px;
  }
}

.main-titles__subtitle {
  grid-area: subtitle;
  margin: 0;
  padding-top: 7px;
  color: #707070;
  font-weight: 500;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

@media (max-width: 575px) {
  .main-titles__subtitle {
    padding-top: 6px;
    font-size: 12px;
  }
}

.main-buttons {
  display: grid;
  grid-template-areas: 'dot-left profile mail phone location dot-right';
  grid-auto-columns: 0.5fr 8fr 1fr 1fr 8fr 0.5fr;
  padding-top: 68px;
}

@media (max-width: 575px) {
  .main-buttons {
    padding-top: 55px;
  }
}

.main-buttons__dot-left {
  grid-area: dot-left;
}

.main-buttons__dot-right {
  grid-area: dot-right;
}

.main-buttons__profile {
  grid-area: profile;
  text-align: right;
}

.main-buttons__mail {
  grid-area: mail;
}

.main-buttons__phone {
  grid-area: phone;
}

.main-buttons__location {
  grid-area: location;
  text-align: left;
}

.main-buttons__profile img,
.main-buttons__mail img,
.main-buttons__phone img,
.main-buttons__location img {
  margin: 0 6px;
  width: 102px;
  height: 102px;
  cursor: pointer;
}

@media (max-width: 575px) {
  .main-buttons__profile img,
  .main-buttons__mail img,
  .main-buttons__phone img,
  .main-buttons__location img {
    margin: 0 6px;
    width: 58px;
    height: 58px;
  }
}

.main-portfolio {
  display: grid;
  grid-template-areas: 'text' 'button';
  text-align: center;
  padding: 0 44px;
}

@media (max-width: 1024px) {
  .main-portfolio {
    max-width: 640px;
  }
}

.main-portfolio__text {
  grid-area: text;
  margin: 0 0 35px;
  padding-top: 55px;
  color: #707070;
  font-weight: 300;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

@media (max-width: 575px) {
  .main-portfolio__text {
    margin: 0 0 24px;
    padding: 44px 40px 0;
    font-size: 12px;
    line-height: 20px;
  }
}

.main-portfolio__text span {
  color: #000;
  font-size: 20px;
}

@media (max-width: 575px) {
  .main-portfolio__text span {
    font-size: 12px;
  }
}

.main-portfolio__button {
  grid-area: button;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding: 5px 0;
  width: 176px;
  color: #000;
  font-size: 15px;
  font-family: Arial, sans-serif;
  background-color: #F1F1F1;
  border-radius: 18px;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 1024px) and (min-width: 576px) {
  .main-portfolio__button {
    width: 226px;
  }
}

@media (max-width: 575px) {
  .main-portfolio__button {
    padding: 10px 0;
    font-size: 11px;
  }
}

.main-portfolio__button span:first-child {
  display: block;
  margin-left: 22px;
  margin-bottom: 5px;
  color: #707070;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 575px) {
  .main-portfolio__button span:first-child {
    margin-left: 12px;
    font-size: 14px;
  }
}

.main-portfolio__button img {
  width: 25px;
}

@media (max-width: 1024px) {
  .main-portfolio__button img {
    position: absolute;
    top: 11px;
    left: 40px;
  }
}

@media (max-width: 575px) {
  .main-portfolio__button img {
    top: 12px;
    left: 21px;
  }
}

.footer {
  display: grid;
  padding-top: 60px;
}

.footer__links {
  padding: 0 35px;
  text-align: right;
}

@media (max-width: 575px) {
  .footer__links {
    padding: 0 31px;
    height: 25px;
  }
}

.footer__links a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.footer__links img {
  width: 25px;
  height: 25px;
}

.footer__bottom {
  display: grid;
  grid-template-areas: 'frame-3 palette dot links frame-4';
  grid-template-columns: 0.5fr 16fr 1fr 16fr 0.5fr;
}

.footer__bottom-frame-3 {
  grid-area: frame-3;
}

.footer__bottom-frame-4 {
  grid-area: frame-4;
}

.footer__bottom-palette {
  grid-area: palette;
  text-align: left;
}

.footer__bottom-palette-img {
  margin-top: 16px;
  margin-left: 14px;
  height: 12px;
}

@media (max-width: 575px) {
  .footer__bottom-palette-img {
    margin-top: 14px;
    margin-left: 5px;
    height: auto;
  }
}

.footer__bottom-dot {
  grid-area: dot;
}

.footer__bottom-links {
  grid-area: links;
  color: #707070;
  font-size: 12px;
  text-align: right;
}

.footer__bottom-links a {
  margin-top: 13px;
  margin-right: 14px;
  display: inline-block;
  color: #707070;
  font-size: 12px;
  font-family: Arial, sans-serif;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 575px) {
  .footer__bottom-links a {
    margin-top: 15px;
    font-size: 7px;
  }
}

.footer__bottom-links a:hover {
  text-decoration: underline;
}

.main-container {
  display: grid;
  grid-template-areas: 'dot-left text dot-right';
  grid-auto-columns: 0.5fr 28fr 0.5fr;
  padding-top: 42px;
}

@media (max-width: 767px) {
  .main-container {
    padding-top: 0;
  }
}

@media (max-width: 375px) {
  .main-container {
    display: block;
  }
}

.main-container__dot-left {
  grid-area: dot-left;
}

.main-container__dot-right {
  grid-area: dot-right;
}

.main-container__text {
  grid-area: text;
  padding: 0 20px;
  columns: 2;
  font-family: Arial, sans-serif;
}

@media (max-width: 767px) {
  .main-container__text {
    padding: 0;
    columns: 1;
  }
}

.main-container__text h1 {
  margin: 12px 0;
  padding-left: 12px;
  color: #707070;
  font-weight: 100;
  font-size: 18px;
  text-transform: uppercase;
}

@media (max-width: 575px) {
  .main-container__text h1 {
    font-size: 14px;
  }
}

.main-container__text h1 img {
  margin-right: 20px;
  width: 25px;
}

.main-container__text h2 {
  margin: 0;
  font-size: 12px;
}

.main-container__text a {
  color: #000;
  text-decoration: none;
}

.impressum__text p {
  margin: 0 0 15px;
  font-size: 12px;
}

.datenschutz__text h3 {
  margin: 0;
  font-weight: 100;
  font-size: 12px;
  text-transform: uppercase;
}

.datenschutz__text p,
.datenschutz__text ul li {
  margin: 0;
  font-size: 12px;
}

.datenschutz__text ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.datenschutz__text h4 {
  margin: 0;
  font-weight: 300;
  font-style: italic;
  font-size: 12px;
}

.datenschutz__text--grey {
  color: #707070;
}
